.pokemon-details-name{
    font-size: x-large;
    color: black;
    margin-top: 1rem;
}

.pokemon-details-name > span{
    letter-spacing: 0.8rem;
    font-size: xx-large;
    font-weight: 400;
}


.pokemon-details-types{
    display: flex ;
    gap: 3rem;
    margin-top: 2rem;
    font-size: larger;
}

.pokemon-details-types > div{
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
}

.pokemon-details-image{
    margin-top: 2rem;
    max-height: 200px;
}

.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}